.single .c-article-header {
    
    padding: 70px 0 10px 0;
    @media(width >= $bp-medium) {
        padding: 120px 0 10px 0;
    
    } 
    time {
        color: $color-gray-med;
        font-weight: 400;
        display: block;
        margin-bottom: 9px;
    }

}

.c-entry-meta span {
    display: flex;
    font-weight: 400;
    font-size: 15px;
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-lg, 12px);
time {
    font-size: 18px;
    font-weight: 600;
}
}

.c-single-premeta {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    > div, a {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.single-post h1 {
    color: #000;
    margin-top: 30px;
    font-size: clamped(40px, 48px);

}

.single article {
    img {
        border-radius: 10px;
    }
    
}

.c-social-share {
    > span {
        margin-bottom: 10px;
        display: block;
    }
    a {
        margin-right: 8px;
        width: 40px;
        height: 40px;
    
        border-radius: 3px;
        background-color: #fff;

        display: flex;
padding: 10px;
justify-content: center;
align-items: center;
border-radius: var(--radius-md, 8px);
border: 1px solid var(--Component-colors-Components-Buttons-Secondary-button-secondary-border, #D0D5DD);
background: var(--Component-colors-Components-Buttons-Secondary-button-secondary-bg, #FFF);

/* Shadows/shadow-xs */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: #98A2B3;
gap: var(--spacing-md, 8px);
        svg {
            fill: #98A2B3;
        }
        &:hover {
            background-color: $color-carya-purple;
            svg {
                fill: #fff;
            
            }
        }
    }
}

// meta pill
.c-meta-pill {
    display: inline-flex;
    background-color: #f9f5ff;
    padding: var(--spacing-xs, 4px) 10px var(--spacing-xs, 4px) var(--spacing-xs, 4px);
    align-items: center;
    border-radius: 99px;
    border: 1px solid var(--Component-colors-Utility-Brand-utility-brand-200, #E9D7FE);
    color: $color-carya-purple;
    font-size: 15px;
    font-weight: 500;
    span {
        display: flex;
        color: $color-carya-purple;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
        border-radius: 99px;
        background-color: #fff;
        margin-right: 5px;
        padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
        align-items: center;
        border: 1px solid var(--Component-colors-Utility-Brand-utility-brand-200, #E9D7FE);
    }
}

.c-read-time {
    display: flex;
    align-items: center;

    margin-left: 5px;
    svg {
        margin-right: 5px;
    }
}

.c-post-footer {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
row-gap: var(--spacing-3xl, 24px);
align-self: stretch;
flex-wrap: wrap;
flex-direction: column;
@media(width >= $bp-medium) {
    flex-direction: row;
    align-items: center;
    gap: 40px;

} 
}

.single-project_type .c-post-footer {
    padding-right: 25px;
    padding-left: 25px;
}

.c-social-share a.c-return-link {
    display: flex;
width: auto;
padding: 10px 14px !important;
justify-content: center;
align-items: center;
gap: var(--spacing-xs, 4px);
border-radius: var(--radius-md, 8px);
border: 1px solid var(--Component-colors-Components-Buttons-Secondary-button-secondary-border, #D0D5DD);
background: var(--Component-colors-Components-Buttons-Secondary-button-secondary-bg, #FFF);
/* Shadows/shadow-xs */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
&:hover {
    background-color: $color-carya-purple;
    color: #fff;
    svg {
        fill: #fff;
    }
}
}


// listing cards.

.c-glass-card {
display: flex;
min-width: 320px;
padding: 190px 20px 20px 20px;
flex-direction: column;
justify-content: flex-end;
height: 100%;
border-radius: 10px;
align-items: center;
flex: 1 0 0;
position: relative;

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
h2 {
    font-size: 20px;
    color: #333;
    line-height: 1.4;
}
}

.c-glass-card--inner {
    border-radius: 10px;
border: 1px solid var(--Component-colors-Alpha-alpha-white-30, rgba(255, 255, 255, 0.30));
background: var(--Component-colors-Alpha-alpha-white-30, rgba(255, 255, 255, 0.40));
/* Backdrop blurs/backdrop-blur-lg */
backdrop-filter: blur(12px);
display: flex;
padding:  24px 20px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
align-self: stretch;
}