/* ==========================================================================
   LINK BUTTON STYLES
   ========================================================================== */

.c-btn-primary, .c-btn-secondary {
  display: inline-flex;
  text-align: center;
  margin: 1rem 0 1.75rem 0;
}
.c-blk-btn a, .c-btn-primary a, .wp-block-button.is-style-standard a.wp-block-button__link, .wp-block-button.is-style-standard .wp-block-button__link {
  background-color: $color-carya-purple;
  border: none; 
  color: $color-white;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  border-radius: 30px;
  padding: 15px 30px;
  transition: $transition-ease;
  white-space: nowrap; 
  box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.05);
  &:hover {
    background-color: $color-carya-purple-light;
  }
}
.c-btn-secondary a {
  background-color: #fff;
  border: none; 
  color: $color-carya-purple;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  border-radius: 30px;
  padding: 15px 30px;
  transition: $transition-ease;
  white-space: nowrap; 
  border: 1px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.05);
  &:hover {
    background-color: $color-carya-purple;
    color: #fff;
  }
}


