.c-project-banner {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;

    @media(width >= $bp-large) {
        padding-top: 90px;
        padding-bottom: 90px;
    } 
    @media(width >= 1200px) {
        padding-top: 150px;
        padding-bottom: 150px;
    } 
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    }
    &::after {
    content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.35));
    }
    .o-wrapper-wide {
        z-index: 10;
        position: relative;
        h1 {
            color: #fff;
            font-size: clamped(40px, 50px);
        }
    }
}

.c-project-banner-inner {
    width: 100%;
    max-width: 800px;
//     span {
//         display: inline-flex;
// padding: var(--spacing-xs, 4px) var(--spacing-xs, 4px) var(--spacing-xs, 4px) 7px;
// justify-content: center;
// align-items: center;
// gap: 3px;
// border-radius:  6px;
// border: 1px solid #D0D5DD;
// padding: 5px 10px;
// background:  #FFF;
// font-size: 14px;
// font-style: normal;
// font-weight: 500;
// line-height: 20px; /* 142.857% */
// margin-right: 10px;
//     }
}

.c-card--project {
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   height: 100%;
   display: flex;
    flex-direction: column;
    position: relative;
 h2 {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;

}
.term {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
font-style: normal;
font-weight: 800;
line-height: 140.625%; /* 16.875px */
letter-spacing: 1.44px;
text-transform: uppercase;
color: $color-carya-purple;
font-weight: 400;
}
}

.c-card--project--inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.c-card--project-header {
    display: flex;
    background-color: $color-carya-orange;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    opacity: 0.4;
    svg {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    
    }
  
}

.c-card--project:hover {
    transform: scale(1.03);
    .c-card--project-header {
        opacity: 1;
    }
}

.c-single-pillar-query {
    .c-card--project-header {
        background-color: $color-carya-yellow;
    }
}