/* ==========================================================================
   VARIABLES
   ========================================================================== */

// ++ BREAKPOINTS +++++++++++++++++++++++++++++++++
$bp-small: 500px; 
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1320px;


// Match these to your theme.json layout settings.
// Also check the setting of any block plugins you use to match these.
$wrapper-width-wide: 1180px; // Gutenberg Wide wrapper
$wrapper-width-base: 920px;  // Gutenberg Standard wrapper
// Match these to your theme.json layout settings.


$wrapper-width-narrow: 760px;

$page-header-height: 100px;


// ++ COLOURS +++++++++++++++++++++++++++++++++
$color-red:         #A82313;

$color-secondary:       #593084;
$color-carya-orange:    #e17241;
$color-carya-green:     #8a7a34;
$color-carya-blue:      #65b4e2;
$color-carya-purple:    #593084;
$color-carya-purple-light:    #8364a3;
$color-carya-yellow:      #e4a726;
$color-carya-blue-light: #e8f4fb;

$color-gray-lightest:        #e7e7e7;
$color-gray-light:        #c4c4c4;
$color-gray-med:        #888989;
$color-gray-dark:        #4d4e4f;

$color-black:           #121314;
$color-white:           #FFF;

// assign colours to variables
$alert-color:       $color-red;
$text-color:        $color-black;
$link-color:        $color-secondary;
$link-hover:        $color-gray-dark;
$border-color:      $color-gray-med;


// ++ MISC VARS ++++++++++++++++++++++++++++++++++
// Logo

$logo-size: 300px;



// ++ TYPOGRAPHY +++++++++++++++++++++++++++++++++
// Fonts
$font-primary: 'MuseoSans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Spacing
$line-height-normal: 1.70;
$line-height-tight: 1.10;
$line-height-loose: 1.70;
$letter-spacing: 0.125em; //2px

// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;


// ++ TRANSITIONS +++++++++++++++++++++++++++++++++
$transition-ease: all 250ms ease;
$transition-ease-slow: all 400ms ease;