/* ==========================================================================
   MISC UTILITIES
   ========================================================================== */

.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}

.u-large-text, .is-style-large-text {
  font-size: 1.625rem;
}

.u-mobile-pad {
  padding-left: 25px;
  padding-right: 25px;
}

.u-flex {
  display: flex;
}
.u-block {
  display: block;
}


.u-text-center {
  text-align: center;
}

.u-subhead {
  text-transform: uppercase;
  font-weight: 900;
  font-family: $font-secondary;
}

// ++ media or embed aspect ratio +++++++++++++++++++++++++++++++++
.u-aspect-16x9 {
  padding-bottom: 56.25%; /* (9 / 16 = 0.5625) */
}

.c-blurred-hero {
  filter: blur(5px);
}

// ++ float orphan fix trick +++++++++++++++++++++++++++++++++
.u-orphan-fix {
  overflow: hidden;
  width: auto;
}

.u-more-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: $color-carya-purple;
  text-decoration: none;
  svg {
    width: 20px;
    height: 20px;
  }
}


// ++ visibility classes ++++++++++++++++++++++++++++++++++++
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-visually-hidden-focusable:active,
.u-visually-hidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
