/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(
select.piotnetgrid-facet-field {
   display: flex;
padding: 10px 14px;
align-items: center;
gap: var(--spacing-md, 8px);
flex: 1 0 0;
align-self: stretch;
border-radius: var(--radius-md, 8px);
border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
background: var(--Colors-Background-bg-primary, #FFF);
/* Shadows/shadow-xs */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}


.tooltipster-box {
   border-bottom-color: $color-carya-purple !important;
   border-bottom-width: 15px !important;

}

.tooltipster-content {
   color: #fff !important;
   padding: 20px !important;
   line-height: 1.5 !important;
border-bottom-color: $color-carya-purple !important;
   p {
      line-height: 1.5 !important;

   }
   a {
      color: #fff !important;
      text-decoration: underline !important;
      font-weight: 700;
   }
}

.tooltipster-top .tooltipster-arrow-border {
   border-top-color: $color-carya-purple !important;
}

// .carya-theme {
//    border-radius: 5px; 
// 	color: #333;

//    .tooltipster-content {
//       font-size: 16px;
// 	color: #333;

//       background: #fff;
//       line-height: 22px;
//       padding: 8px 10px;
//       box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
//    }
// }

.wpforms-field-radio {
   ul {
      display: flex !important;
   }
}

.swiper-button-next, .swiper-button-prev {
   color: #fff;
   background: $color-carya-purple;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   line-height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 10;
   transition: all 0.3s;
   opacity: 0.8;
   &:hover {
      opacity: 1;
   }

}

.swiper-button-next {
   right: 20px;
}

.swiper-button-prev {
   left: 20px;
}

.swiper-button-next::after, .swiper-button-prev::after {
   font-size: 20px;
}