/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(
select.piotnetgrid-facet-field {
   display: flex;
padding: 10px 14px;
align-items: center;
gap: var(--spacing-md, 8px);
flex: 1 0 0;
align-self: stretch;
border-radius: var(--radius-md, 8px);
border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
background: var(--Colors-Background-bg-primary, #FFF);
/* Shadows/shadow-xs */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}