/* ==========================================================================
   HEADINGS
   ========================================================================== */

h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style {
  color: $color-carya-purple;
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
h1 a, .h1-style a, h2 a, .h2-style a, h3 a, .h3-style a, h4 a, .h4-style a, h5 a, .h5-style a, h6 a, .h6-style a {
  text-decoration: none;
}

h1, .h1-style {
  line-height: 1.3;
  font-size: clamped(45px, 64px);
}
h2, .h2-style {
  line-height: 1.3;
  font-size: clamped(30px, 40px);
}
h3, .h3-style {
  font-size: clamped(26px, 33px);
}
h4, .h4-style {
  font-size: clamped(22px, 30px);

}
h5, .h5-style {
  font-size: clamped(20px, 22px);


}
h6, .h6-style {
  font-size: clamped(16px, 18px);
}
