/* ==========================================================================
   HORIZONTAL RULE
   ========================================================================== */

   hr, hr.wp-block-separator {
    display: block;  // border: none;
    margin: 1rem auto;
    padding: 0;
    clear: both;
    width: 100%;
    border-top: 0;
    border-color: #333;
    margin: 50px auto;
  }