/* ==========================================================================
   P TAGS
   ========================================================================== */

p {
  line-height: $line-height-normal;
  margin: 0 0 1rem 0;
  padding: 0;
}

